<!DOCTYPE html>
<html>
<head>

<link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style type="text/css">
body {
    margin-top: 60px;
    margin-bottom: 40px;
}
</style>
<title>PolarSys Summary of projects</title>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a href="http://distillery.castalia.camp" class="navbar-brand">Castalia Distillery</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="https://github.com/borisbaldassari/Distillery">GitHub</a></li>
        <li><a href="http://sourceforge.net/projects/distillery/">SourceForge</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#summary">Summary</a></li>
        <li><a href="#downloads">Downloads</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>

  </div>
</div>

<div id="main" class="container">

<!--begin.rcode, echo=FALSE, message=FALSE

#file.metrics = "../publish/dist/projects/attributes.csv"
file.metrics = "attributes.csv"

projects.colours <- c('#e5cf6c', '#9dbe59', '#5bbe94', '#5884b3', '#cc6686', '#e68570')

library(knitr)

opts_chunk$set(fig.width=5, fig.height=5, dev='png', echo=F)
opts_knit$set(progress = TRUE, verbose = TRUE, self.contained=T)

require(ggplot2)
require(xtable)

projects <- read.csv(file=file.metrics, header=T)

projects.vol <- nrow(projects)

end.rcode-->

<h2>Summary of quality attributes for PolarSys projects</h2>

<div class="row">

  <div class="col-sm-7">

    <p>This document gathers the quality attributes computed on all analysed projects, summarises them, and proposes a transverse perspective on the projects ratings. Its main purpose is to help users  understand the differences between projects and get hints as how to improve their practices.</p>

    <p>This is a <em>dynamically generated</em> document: it takes as input the <code>attributes.csv</code> file generated by the dashboard, then outputs a summary and plots the values for all projects. In this very case, <!--rinline projects.vol --> projects with a total of <!-- rinline ncol(projects) - 1 --> quality attributes have been analysed.</p>

  </div>
  <div class="col-sm-4">
      <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading"><h3 class="panel-title">Contents</h3></div>
          <div class="list-group">
            <a href="#summary" class="list-group-item">Quick Summary</a>
            <a href="#improve-project-files" class="list-group-item">Fix by files</a>
            <a href="#improve-project-rules" class="list-group-item">Fix by rules</a>
            <a href="#download" class="list-group-item">Download data</a>
          </div>
      </div>
  </div>
</div>

<hr />

<h3 id="summary">Quick Summary</h3>

<p></p>

<!--begin.rcode maturity.summary, fig.width=12, fig.height=4, dev.args=list(bg='transparent'), out.extra='class="img-responsive"', eval=TRUE

ggplot(projects, aes(x=reorder(Project, -QM_QUALITY), y=QM_QUALITY, fill=Project)) +
    geom_bar(stat="identity") +
    geom_text(aes(label=QM_QUALITY), vjust=1.5, colour="white") +
    scale_fill_brewer(palette = "Set3") +
    xlab('Projects') +
    ylab('Maturity') +
    ylim(0, 5) +
    theme(
        panel.background = element_rect(fill = "transparent", colour = NA),
        plot.background = element_rect(fill = "white", colour = NA),
        axis.text.x = element_text(angle=30, hjust=1, vjust=1, size=11)
    )
#    scale_fill_manual(values=projects.colours) +

end.rcode-->

<hr />

<h3 id="metrics_scm">Main quality characteristics</h3>

<h4 id="attr_maturity">Maturity</h4>

<p>The overall rating of a project is defined as its <em>maturity</em>. It is defined as the mean of its subcharacteristics: Ecosystem, Process, Product, and reflects the conformance of the project to the set of quality requirements established for the measurement process.</p>

<!--begin.rcode attr.maturity, fig.width=12, fig.height=4, dev.args=list(bg='transparent'), out.extra='class="img-responsive"', eval=TRUE

ggplot(projects, aes(x=reorder(Project, -QM_QUALITY), y=QM_QUALITY, fill=Project)) +
    geom_bar(stat="identity") +
    geom_text(aes(label=QM_QUALITY), vjust=1.5, colour="white") +
    scale_fill_brewer(palette = "Set3") +
    xlab('Projects') +
    ylab('Maturity') +
    ylim(0, 5) +
    theme(
        panel.background = element_rect(fill = "transparent",colour = NA),
        plot.background = element_rect(fill = "white",colour = NA),
        axis.text.x = element_text(angle=30, hjust=1, vjust=1, size=11)
    )

end.rcode-->

<h4 id="attr_ecosystem">Ecosystem</h4>

<p>The degree of maturity for the ecosystem evolving around the project: is it active, diversified, responsive?</p>

<!--begin.rcode attr.ecosystem, fig.width=12, fig.height=4, dev.args=list(bg='transparent'), out.extra='class="img-responsive"', eval=TRUE

ggplot(projects, aes(x=reorder(Project, -QM_ECOSYSTEM), y=QM_ECOSYSTEM, fill=Project)) +
    geom_bar(stat="identity") +
    geom_text(aes(label=QM_ECOSYSTEM), vjust=1.5, colour="white") +
    scale_fill_brewer(palette = "Set3") +
    xlab('Projects') +
    ylab('Maturity') +
    ylim(0, 5) +
    theme(
        panel.background = element_rect(fill = "transparent",colour = NA),
        plot.background = element_rect(fill = "white",colour = NA),
        axis.text.x = element_text(angle=30, hjust=1, vjust=1, size=11)
    )

end.rcode-->

<h4 id="attr_ecosystem">Process</h4>

<p>The maturity of the process: is it predictable, are good practices enforced, etc.</p>

<!--begin.rcode attr.process, fig.width=12, fig.height=4, dev.args=list(bg='transparent'), out.extra='class="img-responsive"', eval=TRUE

ggplot(projects, aes(x=reorder(Project, -QM_PROCESS), y=QM_PROCESS, fill=Project)) +
    geom_bar(stat="identity") +
    geom_text(aes(label=QM_PROCESS), vjust=1.5, colour="white") +
    scale_fill_brewer(palette = "Set3") +
    xlab('Projects') +
    ylab('Maturity') +
    ylim(0, 5) +
    theme(
        panel.background = element_rect(fill = "transparent",colour = NA),
        plot.background = element_rect(fill = "white",colour = NA),
        axis.text.x = element_text(angle=30, hjust=1, vjust=1, size=11)
    )

end.rcode-->

<h4 id="attr_ecosystem">Product</h4>

<p>The software product produced by the project, i.e. the source code, binaries, tests.</p>

<!--begin.rcode attr.product, fig.width=12, fig.height=4, dev.args=list(bg='transparent'), out.extra='class="img-responsive"', eval=TRUE

ggplot(projects, aes(x=reorder(Project, -QM_PRODUCT), y=QM_PRODUCT, fill=Project)) +
    geom_bar(stat="identity") +
    geom_text(aes(label=QM_PRODUCT), vjust=1.5, colour="white") +
    scale_fill_brewer(palette = "Set3") +
    xlab('Projects') +
    ylab('Maturity') +
    ylim(0, 5) +
    theme(
        panel.background = element_rect(fill = "transparent",colour = NA),
        plot.background = element_rect(fill = "white",colour = NA),
        axis.text.x = element_text(angle=30, hjust=1, vjust=1, size=11)
    )

end.rcode-->

<br />

</div>
</body>
</html>
